<footer class="site-footer">

  <div class="wrapper">

      <div class="footer-info">
        <!-- Example of Include
          <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
        </ul> -->
        <span>© 2018 Ariel Silva 
          • <a href="mailto:{{ site.email }}" target="_blank" rel="noopener">Email</a> 
        • <a href="https://www.linkedin.com/in/{{site.linkedin_username}}" target="_blank" rel="noopener">LinkedIn</a> 
        • <a href="https://github.com/{{site.github_username}}" target="_blank" rel="noopener">Github</a>
        </span>
      </div>

    </div>

  </div>

</footer>
